@import "_rules";
/* =========================== PROFILE ================================= */
.profile-pic{
    border: 5px solid white;
    border-radius: 70px;
    height: auto;
    width: 28%;
    background-color: $darkest-blue;
}

.profile-tab{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    background-color: $light-blue;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
    width: 70%;
    height: 40%;
    z-index: 101;
    p{
        color: white;
        font-weight: 700;
        font-size: 15px;
        text-align: center;
        margin-right: -20px;
    }
}

.homelink{
    position: absolute;
    left: 0;
    width: 28%;
    height: 100%;
}

.profile-container{
    display: flex;
    align-items: center;
    position: absolute;
    left: 3%;
    width: 490px;
    height: 220px;
    z-index: 100;
    overflow: visible !important;

}

.profile-right{
 -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 45% 100%);
 clip-path: polygon(0 0, 100% 0%, 100% 100%, 45% 100%);
 background-color: white;
 width: 40%;
 height: 100%;
}

.profile-btn{
background-color: rgba(59, 125, 170, 0.6);
width: 45px;
height: 45px;
margin-top: 20%;
margin-left: 45%;
border-radius: 50%;
position: relative;
z-index: 102;
-webkit-transition: 0.3s ease-in;
-o-transition: 0.3s ease-in;
transition: 0.3s ease-in;

img{
    width: 60%;
    height: auto;
    position: absolute;
    @extend %center;
}
}

.profile-btn.pop img{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);    
    -webkit-transition: 0.9s ease-in;
    -o-transition: 0.9s ease-in;
    transition: 0.9s ease-in;
}

.profile-btn:hover{
    cursor: pointer;
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}
    


.profile-info{
    width: 55%;
    height: 100%;
    position: absolute;
    right: 8%;
    top: 0;
}

.info-circle{
    width: 10px;
    height: 10px;
    position: absolute;
    @extend %center;
    border-radius: 50%;
    background-color: $text-blue;
    opacity: 70%;
    z-index: 50;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    margin-left: 15%;

}

.info-circle.pop{
    width: 130px;
    height: 130px;
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in;

}

.info-icon{
    z-index: 50;
    position: absolute;
    @extend %center;
    width: 40px;
    height: 40px;
    background-color: $text-blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;


}

.fb.pop{
    -webkit-transform: translate(65px, -75px);
        -ms-transform: translate(65px, -75px);
        transform: translate(65px, -75px);
        transition: 0.4s ease-in;
        -webkit-transition: 0.4s ease-in;
        -moz-transition: 0.4s ease-in;
        -o-transition: 0.4s ease-in;
        -webkit-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
                transition-delay: 0.3s;
    
    }

.li.pop{
    -webkit-transform: translate(105px, -32.5px);
    -ms-transform: translate(105px, -32.5px);
    transform: translate(105px, -32.5px);
    transition: 0.4s ease-in;
    -webkit-transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    -webkit-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
            transition-delay: 0.4s;
    
        }

.git.pop{

    -webkit-transform: translate(105px, 32.5px);
    -ms-transform: translate(105px, 32.5px);
    transform: translate(105px, 32.5px);
    transition: 0.4s ease-in;
    -webkit-transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
    
        }

.box.pop{
    -webkit-transform: translate(65px, 75px);
    -ms-transform: translate(65px, 75px);
    transform: translate(65px, 75px);
    transition: 0.4s ease-in;
    -webkit-transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
            transition-delay: 0.6s;
}