
/* =================================== IMPORTS ================================= */

@import "_profile";

@import "_burger";

@import "_rules";

@import "_home";

@import "_mobile-product";

@import "_laptop-product";

@import "_skill";

@import "_me";


/* ======================== GENERAL ============================== */
*{
    font-family: droid-sans, sans-serif;
    margin: 0;
	padding: 0;
    border: 0;
    overflow: hidden;
}



body{
    background-color: $dark-blue;
    width: 100%;
    height: 100vh;
}

a{
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}



// ===================== SECTION RULES ======================================
section{
    margin: auto;
    max-width: 1300px;
    display: flex;
    height: 100%;
}

.section-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 25%;
    padding-left: 5%;
    height: 100%;
}

h1{
    color: white;
    font-size: 3em;

}

#h1-repenso, #h1-barhunt, #h1-webdoc, #h1-webspil{
    margin-left: 18%;
}

.typed-cursor{
    font-size: 3em;
    color: white;
    display: flex;
    text-align: start;
}

.typed-container{
    display: flex;
    flex-direction: row;
    margin-top: 15vh;
    margin-bottom: 2vh;
    width: 100%;
}

.section-right{
    width: 65%;
    padding-left: 5%;
    height: 100%;
    h2{
        color: white;
        font-size: 2em;
    }
}

.funko-rise, .funko-wave, .funko-show{
    margin-top: 7vh;
    svg{
        width: 100%;
    }
}

#btn-pad{
    display: none;
}

@media only screen and (max-width: 1000px) {
    #h1-repenso, #h1-barhunt, #h1-webdoc, #h1-webspil{
        margin-left: 0%;
    }

    h1{
        font-size: 2.5em;
    }

    .laptop-value{
        margin-top: 80px;
    }

    .product-container{
        display: flex;
        flex-direction: column-reverse;
    }

    .product-mobile{
        height: 390px;
    }

    .value-container{
        display: flex;
        flex-direction: row;
        height: auto;
        margin-top: 150px;
    }

    .right-right{
        width: 100%;
        height: auto;
    }

    .product-value{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .value-text{
            width: 90%;
            h3{
                margin: 15px 0;
            }
        }
        img{
            width: auto;
        }
    }

    .right-left{
        height: 390px;
    }

    #btn-lap{
        display: none;
    }

    #btn-pad{
        display: flex;
    }


}


@media only screen and (max-width: 500px) {

    *{
        overflow: visible;
        padding: 0;
        margin: 0;
    }
    body{
        height: auto;
    }

    .profile-container{
        display: none;
    }

    section{
        flex-direction: column;
        align-items: center;
    }

    .section-left, .section-right{
        width: 90%;
        margin: auto;
        padding: 0px;
    }


    .typed-container{
        text-align: center;
        padding-left: 15%;
        width: 85%;
    }

    #h1-repenso, #h1-barhunt, #h1-webdoc, #h1-webspil{
        margin-left: 1%;
    }

}

