
/* =================================== IMPORTS ================================= */

@import "_profile";

@import "_burger";

@import "_rules";

@import "_home";

@import "_mobile-product";
@import "_laptop-product";

/* ======================== GENERAL ============================== */
*{
    font-family: droid-sans, sans-serif;
    margin: 0;
	padding: 0;
    border: 0;
    overflow: hidden;
}



body{
    background-color: $dark-blue;
    width: 100%;
    height: 100vh;
}

a{
    text-decoration: none;
}



// ===================== SECTION RULES ======================================
section{
    margin: auto;
    max-width: 1100px;
    display: flex;
}

.section-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    padding-left: 5%;
    padding-top: 20vh;
    height: 100%;
}

h1{
    color: white;
    font-size: 3.2em;

}

.typed-cursor{
    font-size: 3.2em;
    color: white;
    display: flex;
    text-align: start;
}

.typed-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 15vh;
    margin-bottom: 2vh;
    width: 100%;
}

.section-right{
    width: 65%;
    padding-left: 5%;
    padding-top: 18vh;
    height: 100%;
    h2{
        text-align: center;
        color: white;
        font-size: 2em;
    }
}

.funko-rise, .funko-wave{
    margin-top: 7vh;
    svg{
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {

    *{
        overflow: visible;
    }
}

